<section id="tournament">
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <h1>Build a new tournament</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <%= form_for :tournament, url: tournaments_path do |f| %>
        <div><%= f.label :name %></div>
        <div><%= f.text_field :name %></div>
        <div><%= f.submit "Build Tournament" %></div>
      <% end %>
    </div>
  </div>
</section>
