
<div id="match" class="content">
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <h1>New Match</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <%= form_tag matches_path, method: :post do %>
        <%= select_tag :player_one, options_from_collection_for_select(Player.alphabetical, :id, :name) %>
        <p>vs.</p>
        <%= select_tag :player_two, options_from_collection_for_select(Player.reverse_alphabetical, :id, :name) %>
        <%= submit_tag "Create Match" %>
      <% end %>
    </div>
  </div>
</div>
