
<section id="match">
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <h1>New Match</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <%= form_for @match, url: {action: "create"} do |f| %>
        <%= f.collection_select(:player_one_id, Player.alphabetical, :id, :name) %>
        <%= f.collection_select(:player_two_id, Player.reverse_alphabetical, :id, :name) %>
        <%= f.submit "Create Match" %>
      <% end %>
    </div>
  </div>
</section>
