@import "foundation";

// COLOURS

$red: red;
$white: #fff;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: 3em;
}



@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
}

.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }

input, select {
  outline: none;
}

input[type="submit"], .button {
  font-size: 1em;
  color: $white;
  border-radius: 3px;
  background-color: red;
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 200;
  border: 3px solid $red;
  transition: all 0.3s ease;
  padding: 0.5em;
  &:hover, &:active, &:focus {
    background-color: $white;
    color: $red;
  }
}

p, a, h1, h2, h3, h4, h5, ul, li {
  font-family: "Oswald";
}

h1, h2 {
  margin-bottom: 1em;
}

p {
  margin-bottom: 0.5em;
}

main {
  position: relative;
  padding: 50px 0 0 0;
  text-align: center;
  font-family: "Oswald";
}
section {
  @extend .row;
  margin-top: 20px;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @include panel();
  padding-bottom: 60px;
}
.authform form a {
  font-size: rem-calc(13);
}
.authform form p {
  font-size: rem-calc(13);
}
.authform fieldset {
  @include panel();
}
.authform #error_explanation:not(:empty) {
  @extend .alert-box;
  @extend .alert;
}
.authform #error_explanation h2 {
  font-size: rem-calc(16);
  color: white;
}
.button-xs {
  @extend .button;
  @extend .radius;
  @extend .tiny;
}
