#tournament-players {
  ul.players-list {
    list-style: none;
    list-style-image: none;
    margin: none;
    display: inline-block;
    text-align: center;
    li {
      display: inline;
      &:after {
        content: " | ";
      }
      &:last-child:after {
        content: none;
      }
    }
  }
}

#new-tournament {
  
}

#tournament-bracket {

}
