<%# add navigation links to this file %>
<li class="name"><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Players', players_path %></li>
<li><%= link_to 'Tournaments', tournaments_path %></li>
